<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="header-content">
        <img src="https://cdn-icons-png.flaticon.com/512/3175/3175622.png" alt="University Logo" class="university-logo" />
        <span class="page-title">RegistrAPP</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">USUARIO</ion-label>
      <ion-input type="email" [(ngModel)]="username" name="username" required></ion-input>
    </ion-item>
    <ion-item *ngIf="usernameError">
      <ion-label color="danger">Por favor, ingrese un correo electrónico válido.</ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="floating">CONTRASEÑA</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required minlength="5"></ion-input>
    </ion-item>
    <ion-item *ngIf="passwordError">
      <ion-label color="danger">La contraseña debe tener al menos 5 caracteres.</ion-label>
    </ion-item>

    <ion-button expand="full" type="submit">ENTRAR</ion-button>
  </form>

  <ion-button expand="full" color="light" routerLink="/reset-password">¿Olvidaste tu contraseña?</ion-button>
</ion-content>





<ion-footer> <!--footer inicio-->
  <ion-toolbar class="ion-text-center">
    <div class="header-content">
      <img src="https://as2.ftcdn.net/v2/jpg/03/27/14/51/1000_F_327145197_gKSvXtRPkDKqQRWmASMevDafjlhN0FAX.jpg" alt="Logo" class="logo" />
    </div>

  </ion-toolbar>
</ion-footer><!--footer fin-->
