ion-header {
    ion-toolbar {
      ion-title {
        .header-content {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          
          .university-logo {
            height: 40px; // Ajusta la altura del logo según sea necesario
            margin-right: 8px; // Espacio entre el logo y el título
          }
  
          .page-title {
            text-align: center;
            font-size: 20px; // Ajusta el tamaño del título según sea necesario
            font-weight: bold;
          }
        }
      }
    }
  }
  