<!-- src/app/pages/home/home.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="header-content">
        <img src="https://cdn-icons-png.flaticon.com/512/3175/3175622.png" alt="University Logo" class="university-logo" />
        <span class="page-title">Bienvenido</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="home-page">
    <h1>RegistrAPP</h1>
    <ion-img src="assets/images/qr-placeholder.png" alt="Código QR"></ion-img>
    <p>Escanee el código QR para registrarse en la clase.</p>
  </div>
</ion-content>
